<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<div th:replace="fragments/Common-topnav :: head"></div>

<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    <div th:replace="fragments/Common-topnav :: navbar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div th:replace="fragments/Common :: title('<i class=\'fas fa-home\'></i> Home')"></div>

      <!-- Main content -->
      <div class="content">
        <div class="container">
          <!-- Infobox small -->
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-sm-blue('Blue','1','far fa-envelope')"></div>
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-sm-green('Green','2','far fa-flag')"></div>
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-sm-yellow('Yellow','3','far fa-copy')"></div>
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-sm-red('Red','4','far fa-star')"></div>
            </div>
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-progress-blue('Bookmarks','70,000','70',' 70% Increase in 30 Days','far fa-bookmark')"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-progress-green('Likes','41,410','',' 70% Increase in 30 Days','far fa-thumbs-up')"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-progress-yellow('Events','41,410','70',' 70% Increase in 30 Days','far fa-calendar-alt')"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              <div th:replace="fragments/widgets :: infobox-progress-red('Comments','41,410','70',' 70% Increase in 30 Days','fas fa-comments')"></div>
            </div>
          </div>
          <!-- ORDERS -->
          <h4 class="mt-4 mb-2"><i class='fas fa-inbox'></i> Purchase / Sales orders</h4>
          <div class="row">
            <div class="col-md-12">
              <div th:replace="fragments/order :: orderlist"></div>
            </div>
          </div>
          <h4 class="mt-4 mb-2">Small</h4>
          <div class="row">
            <div class="col-md-3"><div th:replace="fragments/order :: ordercard-sm-white"></div></div>
            <div class="col-md-3"><div th:replace="fragments/order :: ordercard-sm-blue"></div></div>
            <div class="col-md-3"><div th:replace="fragments/order :: ordercard-sm-yellow"></div></div>
            <div class="col-md-3"><div th:replace="fragments/order :: ordercard-sm-green"></div></div>
            <div class="col-md-3"><div th:replace="fragments/order :: ordercard-sm-red"></div></div>
          </div>    
          <h4 class="mt-4 mb-2">Medium</h4>
          <div class="row">
            <div class="col-lg-4"><div th:replace="fragments/order :: ordercard-white"></div></div>
            <div class="col-lg-4"><div th:replace="fragments/order :: ordercard-blue"></div></div>
            <div class="col-lg-4"><div th:replace="fragments/order :: ordercard-yellow"></div></div>
            <div class="col-lg-4"><div th:replace="fragments/order :: ordercard-green"></div></div>
            <div class="col-lg-4"><div th:replace="fragments/order :: ordercard-red"></div></div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>

                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </p>

                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card card-primary card-outline">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>

                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div><!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title m-0">Featured</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Special title treatment</h6>

                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title m-0">Featured</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Special title treatment</h6>

                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="fragments/misc :: btn-scroll-top"></div>
    <div th:replace="fragments/Common-topnav :: control-sidebar"></div>
    <div th:replace="fragments/Common-topnav :: footer"></div>
  </div>
  <!-- ./wrapper -->
</body>

</html>