<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<div th:replace="fragments/Common-topnav :: head"></div>

<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    <div th:replace="fragments/Common-topnav :: navbar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div th:replace="fragments/Common :: title('<i class=\'fa fa-shopping-cart\'></i>  Cart ')"></div>

      <!-- Main content -->
      <div class="content">
        <div class="container">
          <!-- Cart -->
          <div class="row">
            <div class="col-md-12">
              <div th:replace="fragments/cart :: cartlist"></div>
            </div>
          </div>
          <div th:replace="fragments/Common :: title('<i class=\'fas fa-bookmark \'></i>  Wishlist ')"></div>
        <!-- Wishlist -->
          <div class="row">
            <div class="col-md-12">
              <div th:replace="fragments/cart :: wishlist"></div>
            </div>
          </div>

          
         
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="fragments/misc :: btn-scroll-top"></div>
    <div th:replace="fragments/Common-topnav :: control-sidebar"></div>
    <div th:replace="fragments/Common-topnav :: footer"></div>
  </div>
  <!-- ./wrapper -->
  <style>
    /* @media print and (width: 21cm) and (height: 29.7cm) {
    @page {
       margin: 20cm;
    }
 } */

    /* @page {
    size: A4 landscape;
  } */

    @media print {
      @page {
        size: 10mm 15mm;
        /* landscape */
        /* you can also specify margins here: */
        margin: 0mm;
        margin-right: 0mm;
        /* for compatibility with both A4 and Letter */
      }
    }
  </style>
</body>

</html>